


  <%= form_for (@submission) do |submission| %>

    <div class="row">
      <div class="medium-6 columns">
        <label>Listing Link
          <%= submission.text_field :submission_link, placeholder: "Add the URL for the listing." %>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Location
          <%= submission.text_field :location, placeholder: "City, Country" %>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-3 columns">
        <label>Bedrooms
          <%= submission.select :bedrooms, ["0", "1", "2", "3+"]%>
        </label>
      </div>
      <div class="medium-3 columns">
        <label>Private Bathrooms
          <%= submission.select :bathrooms, ["0", "1", "2", "3+"]%>
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Lodging Type
          <%= submission.select :lodging_type, ["Apartment", "House", "Hostel", "Co-Living", "Hotel"]%>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <label>Image 1
          <%= submission.text_field :img1, placeholder: "http://i.imgur.com/bCd9Qwl.png?1" %>
        </label>
      </div>
      <div class="medium-4 columns">
        <label>Image 2
          <%= submission.text_field :img2, placeholder: "http://i.imgur.com/bCd9Qwl.png?1" %>
        </label>
      </div>
      <div class="medium-4 columns">
        <label>Image 2
          <%= submission.text_field :img2, placeholder: "http://i.imgur.com/bCd9Qwl.png?1" %>
        </label>
      </div>
    </div>
   
    <div class="row">
      <div class="medium-12 columns">
        <%= submission.submit %>
      </div>
    </div>

  <% end %>



