
    
    <br>

    <div class="row">
      <div class="medium-6 columns">
<!--         <img class="thumbnail" src="<%= @submission.img1 %>">
        <div class="row small-up-4">
          <div class="column">
            <img class="thumbnail" src="<%= @submission.img2 %>">
          </div>
          <div class="column">
            <img class="thumbnail" src="<%= @submission.img2 %>">
          </div> -->
        <img class="thumbnail" src="http://placehold.it/250x200">
        <div class="row small-up-4">
          <div class="column">
            <img class="thumbnail" src="http://placehold.it/250x200">
          </div>
          <div class="column">
            <img class="thumbnail" src="http://placehold.it/250x200">
          </div>
        </div>
      </div>
      <div class="medium-6 large-5 columns">
        <h3><%= @submission.title %></h3>
        <p><%= link_to "View Listing", "#{@submission.submission_link}", target: "_blank", rel: "nofollow" %></a></p>
            <td>
            <p>This is a <%= @submission.bedrooms %> Bedroom, <%= @submission.bathrooms %> Bathroom <%= @submission.lodgingtype %></td> located in <td><%= @submission.location %></p>
            <!-- <p>It was submitted by: <%= @submission.user_id %></p> -->
            <p>It has the following lodging amenities:</p>
            <p>It has the following location amenities:</p>
            <p><%= link_to "Write a Review", new_submission_review_path(@submission), class: "btn"%></p>
    </div>

    <div class="column row">
      <hr>
      <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Reviews</a></li>
        
      </ul>
      <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1">
          <h4>Reviews</h4>
          
            <% if @reviews.blank? %>
              <p>Be the first to review</p>
            <% else %>

              
                <% @reviews.each do |review| %>
                <div class="media-object stack-for-small">
                  <div class="media-object-section">
                    <img class="thumbnail" src="http://placehold.it/200x200">
                  </div>
                  <div class="media-object-section">
                    <h5><%= review.rating %></h5>
                    <p><%= review.comment %></p>
                  </div>
                <% end %>
              <% end %>

            
          </div>


        </div>
      </div>
    </div>




