<%= form_for([@submission, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div><h3>New Review</h3></div>
    <div>
      <div class="medium-12 columns">
          <%= f.text_area :comment, placeholder: "Let everyone know what you liked (or didn't) about this listing." %>
      </div>
    </div>


    <div class="medium-12 columns">

      <fieldset class="fieldset">
        <legend>How much did you pay and when?</legend>
        <div class="row">
          <div class="medium-3 columns">
              <%= f.number_field :price, placeholder: "How much did you pay in..." %>
          </div>
          <div class="medium-1 columns">
            <%= f.select :currency, ["USD", "GBP", "EUR", "CAD", "AUD"]%>
          </div>
          <div class="medium-2 columns">
            <%= f.number_field :duration, placeholder: "...for how many..." %>
          </div>
          <div class="medium-2 columns">
            <%= f.select :duration_type, ["Day(s)", "Week(s)", "Month(s)", "Year(s)"]%> 
          </div>
          <div class="medium-2 columns">
            <%= f.select :stay_month, ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]%>
          </div>
          <div class="medium-2 columns">
            <%= f.select :stay_year, ["2015", "2016", "2017", "2018"]%>
          </div>    
        </div> 
      </fieldset> 
    </div>

    <div class="medium-4 columns">
      <fieldset class="fieldset">
        <legend>Did you receive a discount?</legend>
          <div class="medium-4 columns">
            <%= f.check_box :discount%>
            <%= f.label :yes %>
          </div>
          <div class="medium-8 columns">
            <%= f.text_field :discount_amount, placeholder: "How much? $/%" %>
          </div>  
      </fieldset>

      <div class="medium-12 columns">
        <span>Yes, I would return.  </span>
        <span><%= f.check_box :return %></span>
      </div>
    </div>

    <div class="medium-8 columns">
      <fieldset class="fieldset">
        <legend>How was the internet?</legend>
        <div class="row">
          <div class="medium-6 columns">
            <%= f.text_field :download, placeholder: "Download Speed" %>
          </div>
          <div class="medium-6 columns">
            <%= f.text_field :upload, placeholder: "Upload Speed" %>
          </div>
        </div>
        <div class="row">
          <div class="medium-6 columns">
            <%= f.text_field :speedtest, placeholder: "Speedtest Link" %>
          </div>
          <div class="medium-6 columns">
            <span>Yes, the internet was consistent.  </span>
            <span><%= f.check_box :consistent %></span>
          </div>
        </div>
      </fieldset>
    </div>



      <h3>Ratings</h3>
      <p>Please rate the following on a scale of 1-5 with 1 being terrible and 5 being wonderful.</p>

        <div class="medium-12 columns">
          <div class="medium-2 columns">
            <label>Overall Rating</label>
            <%= f.select :rating, ["1", "2", "3", "4", "5"]%> 
          </div>

          <div class="medium-2 columns">
            <label>Area Amenities</label>
            <%= f.select :area_amenities, ["1", "2", "3", "4", "5"]%> 
          </div>

          <div class="medium-2 columns">
            <label>Bed</label>
            <%= f.select :bed, ["1", "2", "3", "4", "5"]%>
          </div>

          <div class="medium-2 columns">
            <label>Internet</label>
            <%= f.select :internet, ["1", "2", "3", "4", "5"]%>
          </div>

          <div class="medium-2 columns">
            <label>Kitchen</label>
            <%= f.select :kitchen, ["1", "2", "3", "4", "5"]%>
          </div>

          <div class="medium-2 columns">
            <label>Landlord</label>
            <%= f.select :landlord, ["1", "2", "3", "4", "5"]%>
          </div>

          <div class="medium-2 columns">
            <label>Lodging Amenities</label>
            <%= f.select :lodging_amenities, ["1", "2", "3", "4", "5"]%>
          </div>

          <div class="medium-2 columns">
            <label>Safety</label>
            <%= f.select :safety, ["1", "2", "3", "4", "5"]%>
          </div>

          <div class="medium-2 columns">
            <label>Value</label>
            <%= f.select :value, ["1", "2", "3", "4", "5"]%>
          </div>

          <div class="medium-2 columns">
            <label>Workspace</label>
            <%= f.select :workspace, ["1", "2", "3", "4", "5"]%>
          </div>
        </div>

    <div class="actions">
      <%= f.submit %>
    </div>  
    <%= link_to 'Back', submission_path(@submission) %>

  </div>
<% end %>

