<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!-- Navigation -->

  <div class="top-bar" id="realEstateMenu">
    <div class="top-bar-left">
      <ul class="menu" >
        <li><%= link_to 'Home', root_path %></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
  <!--       <li><input type="search" placeholder="Search"></li>
        <li><button type="button" class="button">Search</button></li>    -->   
        <% if user_signed_in? %>
          <!-- <li><a href="#">My Account</a></li> -->
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to 'Sign In', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<!-- /Navigation -->

    <%= yield %>

  </body>
</html>

